/* ListaPessoal.css */

/* Estilos gerais */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
    color: #f7d354; /* Amarelo */
  }
  
  /* Botões de filtro */
  .container > div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .container > div > button {
    background-color: transparent;
    border: none;
    color: #f7d354;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    font-weight: bold;
  }
  
  .container > div > button:hover {
    background-color: #f7d354;
    color: #000;
  }
  
  /* Estilos da grade de quadrinhos */
  .comics_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  .comics_container div {
    background-color: #111; /* Fundo escuro */
    color: #fff; /* Texto branco */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
  }
  
  .comics_container div img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .comics_container div h2,
  .comics_container div p {
    margin: 0.5rem 0;
  }
  
  .comics_container div svg {
    color: #f7d354; /* Amarelo */
  }
  
  .comics_container div a {
    display: inline-block;
    background-color: #f7d354; /* Amarelo */
    border: 2px solid #f7d354; /* Amarelo */
    border-radius: 4px;
    color: #000; /* Texto preto */
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .comics_container div a:hover {
    background-color: transparent;
    color: #f7d354; /* Amarelo */
  }
  
  /* Estilos da paginação */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  .pagination button {
    background-color: transparent;
    border: 2px solid #f7d354; /* Amarelo */
    border-radius: 4px;
    color: #f7d354; /* Amarelo */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
    font-weight: bold;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #f7d354; /* Amarelo */
    color: #000; /* Texto preto */
  }
  
  /* Estilo para o botão de página ativa (página atual) */
  .pagination .active {
    background-color: #f7d354; /* Amarelo */
    color: #000; /* Texto preto */
  }
  
  /* Desative os botões quando necessário */
  .pagination button:disabled {
    background-color: #ccc; /* Cinza claro */
    color: #777; /* Cinza */
    cursor: not-allowed;
  }
  