.resenha-container {
  background-color: #f7f7f7;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 2rem auto;
  color: black;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 2rem;
  position: relative; 
}

.resenha-image {
  max-width: 200px; 
  border-radius: 10px;
  margin-bottom: 1rem;
  align-self: flex-start; 
}

.resenha-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.resenha-author {
  font-size: 0.9rem;
  display: flex; 
  align-items: center;
  margin-bottom: 0.5rem;
  align-self: flex-start; 
}
.resenha-image {
  max-width: 200px;
  border-radius: 10px;
  margin: 0 auto; 
  margin-bottom: 1rem;
}
.author-image {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.resenha-reviewer {
  font-weight: bold;
}

.resenha-rating {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.resenha-review {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  color: #333;
  max-width: 800px; 
  margin: 0 auto; 
}


.barra-preta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #666;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.back-button:hover {
  color: #222;
}

.back-icon {
  margin-right: 0.5em;
}