.form{
    width: 100%;
    margin: 2em 0;
  }
  
  
  .iconContainer {
    text-align: left;
    margin-bottom: 1.5em;
  }
    
    .backButton {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #666;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;
    }
    
    .backIcon {
      margin-right: 0.5em;
    }
    
    .backButton:hover {
      color: #222;
    }
    .progressBarContainer {
      width: 100%;
      height: 10px; 
      background-color: #ccc;
      border-radius: 5px; 
    }
    
    .progressBar {
      height: 100%;
      background-color: #f7d354;
      transition: width 0.3s ease;
      border-radius: 5px; 
    }
    
    .progressText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #000;
      font-weight: bold;
    }